<template>
    <form @submit.prevent="save">
        
        <div class="row">
            <div class="col-md-6">
                <i class="r"></i>
                <label>Ingrese el documento del paciente</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-on:keyup.enter="buscarPaciente" v-model="form.paciente.documento" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" @click="buscarPaciente" type="button" id="button-addon2">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <i class="r"></i>
                <label for="documento_tipo_id">Tipo de documento</label>
                <select v-model="form.paciente.documento_tipo_id" id="documento_tipo_id" name="documento_tipo_id" class="form form-control" required>
                    <option style="display:none" value="">Seleccione</option>
                    <option v-for="(item,idx) in documentoTipoArray" :key="idx" :value="item.id">{{item.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row" v-if="datosPaciente">
            <div class="col-md-6">
                <i class="r"></i>
                <label for="nombre_primero">Primer nombre</label>
                <input type="text" v-model="form.paciente.nombre_primero" id="nombre_primero" name="nombre_primero" class="form form-control" :readonly="readonly.nombre_primero" required>
            </div>
            <div class="col-md-6">
                <label for="nombre_segundo">Segundo nombre</label>
                <input type="text" v-model="form.paciente.nombre_segundo" id="nombre_segundo" name="nombre_segundo" class="form form-control" :readonly="readonly.nombre_segundo">
            </div>
            <div class="col-md-6">
                <i class="r"></i>
                <label for="apellido_primero">Primer apellido</label>
                <input type="text" v-model="form.paciente.apellido_primero" id="apellido_primero" name="apellido_primero" class="form form-control" :readonly="readonly.apellido_primero" required>
            </div>
            <div class="col-md-6">
                <label for="apellido_segundo">Segundo apellido</label>
                <input type="text" v-model="form.paciente.apellido_segundo" id="apellido_segundo" name="apellido_segundo" class="form form-control" :readonly="readonly.apellido_segundo">
            </div>
            <div class="col-md-6">
                <i class="r"></i>
                <label for="fecha_nacimiento">Fecha de nacimiento</label>
                <input type="text" v-model="form.paciente.fecha_nacimiento" id="fecha_nacimiento" name="fecha_nacimiento" class="form form-control" :readonly="readonly.fecha_nacimiento" required>
            </div>
            <div class="col-md-6">
                <i class="r"></i>
                <label for="eps_id">EPS</label>
                <select v-model="form.paciente.eps_id" id="eps_id" name="eps_id" class="form form-control" :readonly="readonly.eps_id" required>
                    <option style="display:none" value="">Seleccione</option>
                    <option v-for="(item,idx) in epsArray" :key="idx" :value="item.id">{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <i class="r"></i>
                <label for="celular1">Celular</label>
                <input type="text" minlength="10" maxlength="10" v-model="form.paciente.celular1" id="celular1" name="celular1" class="form form-control" required>
            </div>
            <div class="col-md-6">
                <label for="telefono">Telefono</label>
                <input type="text" v-model="form.paciente.telefono" minlength="7" maxlength="10" id="telefono" name="telefono" class="form form-control">
            </div>
            <div class="col-md-6">
                <label for="email">Email</label>
                <input type="email" v-model="form.paciente.email" id="email" name="email" class="form form-control">
            </div>
            <div class="col-md-6">
                <i class="r" v-if="validates.paciente.barrio"></i>
                <label for="barrio">Barrio</label>
                <input type="text" v-model="form.paciente.barrio" id="barrio" name="barrio" class="form form-control" :required="validates.paciente.barrio">
            </div>
            <div class="col-md-8">
                <i class="r"></i>
                <label for="direccion">Dirección</label>
                <input type="text" v-model="form.paciente.direccion" id="direccion" name="direccion" class="form form-control" required>
            </div>
            <div class="col-md-4">
                <label for="persona_residencia_direccion_observacion">Observacion de direción</label>
                <input type="text" v-model="form.paciente.direccion_observacion" name="persona_residencia_direccion_observacion" id="persona_residencia_direccion_observacion" class="form form-control">
            </div>
        </div>
        <div class="row" v-if="preguntas">

            <div class="col-md-4">
                <i class="r"></i>
                <label>Temperatura</label>
                <input type="number" name="temperatura" id="temperatura" class="form form-control" v-model="form.temperatura" required>
            </div>
            <div class="col-md-4">
                <i class="r"></i>
                <label>Motivo de consulta</label>
                <select name="motivo_consulta" id="motivo_consulta" class="form form-control" v-model="form.motivo_consulta" required>
                    <option style="display:none" value="">Seleccione</option>
                    <option v-for="(item,idx) in motivoConsultaArray" :key="idx" :value="item.id">{{item.nombre}}</option>
                </select>
            </div>
            
            <div class="col-md-4">
                <i class="r"></i>
                <label>Modalidad de atencion</label>
                <select name="modalidad_atencion_id" id="modalidad_atencion_id" class="form form-control" v-model="form.modalidad_atencion_id" required>
                    <option style="display:none" value="">Seleccione</option>
                    <option v-for="(item,idx) in modalidadAtencionArray" :key="idx" :value="item.id">{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <i class="r"></i>
                <label>observacion</label>
                <textarea name="observacion" id="observacion" class="form form-control" v-model="form.observacion" required></textarea>
            </div>
            <h3 class="col-md-12">ENCUESTA - COVID 19 PREGUNTAS DE RIGOR</h3>
            <div class="col-md-12">
                <label>Ha tenidocontacto con algun sintomatico de coronavirus?</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="si_tuvo_contacto_paciente_covid" id="si_tuvo_contacto_paciente_covid" v-model="form.si_tuvo_contacto_paciente_covid">
                    <label class="onoffswitch-label" for="si_tuvo_contacto_paciente_covid">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <label>Estuvo en contacto con una persona diagnosticada con covid 19?</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="si_tuvo_contacto_diagnosticado_covid" id="si_tuvo_contacto_diagnosticado_covid" v-model="form.si_tuvo_contacto_diagnosticado_covid">
                    <label class="onoffswitch-label" for="si_tuvo_contacto_diagnosticado_covid">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <hr>
            <h3 class="col-md-12">Tiene al menos dos de los siguientes síntomas?</h3>
            <div class="col-md-8">
                <label>Tos</label>
                <select class="form form-control" name="tos_opciones_id" id="tos_opciones_id" v-model="form.tos_opciones_id" required>
                    <option v-for="(item,idx) in tosOpcionesArray" :key="idx" :value="item.id">{{item.nombre}}</option>
                </select>
            </div>
            
            <div class="col-md-8">
                <label>Fiebre</label>
                <select class="form form-control" name="fiebre_opciones_id" id="fiebre_opciones_id" v-model="form.fiebre_opciones_id" required>
                    <option v-for="(item,idx) in fiebreOpcionesArray" :key="idx" :value="item.id">{{item.nombre}}</option>
                </select>
            </div>

            <div class="col-md-12">
                <label>Fatiga?</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="fatiga" id="fatiga" v-model="form.fatiga">
                    <label class="onoffswitch-label" for="fatiga">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <label>Malestar general?</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="malestar_general" id="malestar_general" v-model="form.malestar_general">
                    <label class="onoffswitch-label" for="malestar_general">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <label>Dolor de Garganta</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="dolor_garganta" id="dolor_garganta" v-model="form.dolor_garganta">
                    <label class="onoffswitch-label" for="dolor_garganta">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <label>Dificultad para respirar?</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="dificultad_respirar" id="dificultad_respirar" v-model="form.dificultad_respirar">
                    <label class="onoffswitch-label" for="dificultad_respirar">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div :class="'col-md-'+(form.tomado_medicamentos_gripa?'4':'12')">
                <label>Ha tomado medicamentos para la gripe?</label>
                <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" name="tomado_medicamentos_gripa" id="tomado_medicamentos_gripa" v-model="form.tomado_medicamentos_gripa">
                    <label class="onoffswitch-label" for="tomado_medicamentos_gripa">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-8"  v-if="form.tomado_medicamentos_gripa">
                <label>Cuales medicamanetos</label>
                <multiselect 
                v-model="form.tomado_medicamentos_gripaarray"
                placeholder="Seleccione"
                label="nombre"
                :options="medicamentosArray"
                :multiple="true"
                :taggable="true"
                >
                </multiselect>
            </div>
            <div class="col-md-12">
                <br>
                <button class="btn btn-success" :disabled="disabled" >Guardar</button>
            </div>
        </div>
        <div class="row" v-if="btnSiguiente">
            <div class="col-md-12">
                <br>
                <button class="btn btn-success">Siguiente</button>
            </div>
        </div>

    </form>
</template>

<script>
import Multiselect from 'vue-multiselect'
import fn from "../functions/functions";
export default {
    components: {
        Multiselect
    },
    data()
    {
        return{

            disabled:false,
            epsArray:[],
            medicamentosArray:[],
            documentoTipoArray:[],
            motivoConsultaArray:[],
            modalidadAtencionArray:[],
            tosOpcionesArray:[],
            fiebreOpcionesArray:[],
            btnSiguiente:false,
            preguntas:false,
            datosPaciente:false,
            validates:{
                paciente:{
                    documento:false,
                    nombre_primero:false,
                    nombre_segundo:false,
                    apellido_primero:false,
                    apellido_segundo:false,
                    fecha_nacimiento:false,
                    documento_tipo_id:false,
                    documento:false,
                    direccion:false,
                    barrio:true,
                    eps_id:false,
                    celular1:false,
                    telefono:false,
                    email:false,
                }
            },
            readonly:{
                nombre_primero:false,
                nombre_segundo:false,
                apellido_primero:false,
                apellido_segundo:false,
                fecha_nacimiento:false,
                documento_tipo_id:false,
                eps_id:false
            },
            form:
            {
                paciente:{
                    documento:'',
                    nombre_primero:'',
                    nombre_segundo:'',
                    apellido_primero:'',
                    apellido_segundo:'',
                    fecha_nacimiento:'',
                    documento_tipo_id:'',
                    direccion:'',
                    direccion_observacion:'',
                    barrio:'',
                    eps_id:'',
                    celular1:'',
                    telefono:'',
                    email:'',
                },
                paciente_id:'',
                motivo_consulta:'',
                modalidad_atencion_id:'',
                observacion:'',
                si_tuvo_contacto_paciente_covid:false,
                si_tuvo_contacto_diagnosticado_covid:false,
                tos_opciones_id:1,
                fiebre_opciones_id:1,
                fatiga:false,
                dolor_garganta:false,
                dificultad_respirar:false,
                malestar_general:false,
                tomado_medicamentos_gripa:false,
                temperatura:'',
                tomado_medicamentos_gripaarray:[]
            }
        }
    },
    methods:{
        loadDocumentoTipo()
        {
            let me = this;
            let url = base +'/documentotipo';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.documentoTipoArray=response.data.data;
                }
            })
            .catch((response)=>{

            })
        },
        loadEps()
        {
            let me = this;
            let url = base +'/eps';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.epsArray=response.data.data;
                }
            })
            .catch((response)=>{

            })
        },
        loadMotivoConsulta()
        {
            let me = this;
            let url = base +'/motivoconsulta';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.motivoConsultaArray=response.data.data;
                }
            })
            .catch((response)=>{

            })

        },
        loadModalidadSeleccion()
        {
            let me = this;
            let url = base +'/modalidadatencion';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.modalidadAtencionArray=response.data.data;
                }
            })
            .catch((response)=>{

            })

        },
        loadFiebreOpciones()
        {
            let me = this;
            let url = base +'/fiebreopciones';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.fiebreOpcionesArray=response.data.data;
                }
            })
            .catch((response)=>{

            })
        },
        loadTosOpciones()
        {
            let me = this;
            let url = base +'/tosopciones';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.tosOpcionesArray=response.data.data;
                }
            })
            .catch((response)=>{

            })
        },
        loadMedicamentos()
        {
            let me = this;
            let url = base +'/medicamentos';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.medicamentosArray=response.data.data;
                }
            })
            .catch((response)=>{

            })
        },
        save()
        {
            let me = this;
            let validate    = $('form').valid();
            if(validate)
            {
                if(!me.preguntas && me.btnSiguiente)
                {
                    me.btnSiguiente = false;
                    me.preguntas = true;
                }
                else if(!me.btnSiguiente)
                {
                    me.disabled=true;
                    axios
                    .post(base+'/encuestas',me.form)
                    .then((response)=>{
                        if(response.data.validate)
                        {
                            me.disabled=false;
                            me.datosPaciente=false;
                            me.btnSiguiente=false;
                            me.preguntas=false;
                            me.validates={
                                paciente:{
                                    documento:false,
                                    nombre_primero:false,
                                    nombre_segundo:false,
                                    apellido_primero:false,
                                    apellido_segundo:false,
                                    fecha_nacimiento:false,
                                    documento_tipo_id:false,
                                    documento:false,
                                    direccion:false,
                                    barrio:false,
                                    eps_id:false,
                                    celular1:false,
                                    telefono:false,
                                    email:false,
                                }
                            },
                            me.readonly={
                                nombre_primero:false,
                                nombre_segundo:false,
                                apellido_primero:false,
                                apellido_segundo:false,
                                fecha_nacimiento:false,
                                documento_tipo_id:false,
                                eps_id:false
                            },
                            me.form={
                                paciente:{
                                    documento:'',
                                    nombre_primero:'',
                                    nombre_segundo:'',
                                    apellido_primero:'',
                                    apellido_segundo:'',
                                    fecha_nacimiento:'',
                                    documento_tipo_id:'',
                                    direccion:'',
                                    direccion_observacion:'',
                                    barrio:'',
                                    eps_id:'',
                                    celular1:'',
                                    telefono:'',
                                    email:'',
                                },
                                paciente_id:'',
                                motivo_consulta:'',
                                modalidad_atencion_id:'',
                                observacion:'',
                                si_tuvo_contacto_paciente_covid:false,
                                si_tuvo_contacto_diagnosticado_covid:false,
                                tos:false,
                                tos_opciones_id:false,
                                fiebre_opciones_id:false,
                                fiebre:false,
                                fatiga:false,
                                dolor_garganta:false,
                                dificultad_respirar:false,
                                malestar_general:false,
                                tomado_medicamentos_gripa:false,
                                temperatura:'',
                                tomado_medicamentos_gripaarray:[]
                            }
                            me.$swal('Se ha guardado con éxito');
                        }
                    })
                }
            }
        },
        buscarPaciente()
        {
            let me = this;
            if(me.form.paciente.documento.length>0)
            {
                let url=base+'/paciente/search';
                axios
                .post(url, {documento:me.form.paciente.documento})
                .then((response)=>
                {
                    me.preguntas=false
                    if(response.data.validate)
                    {
                        let paciente = response.data.data;
                        me.form.paciente.paciente_id       = paciente.id;
                        me.form.paciente.nombre_primero    = paciente.nombre_primero;
                        me.form.paciente.nombre_segundo    = paciente.nombre_segundo;
                        me.form.paciente.apellido_primero  = paciente.apellido_primero;
                        me.form.paciente.apellido_segundo  = paciente.apellido_segundo;
                        me.form.paciente.fecha_nacimiento  = paciente.fecha_nacimiento;
                        me.form.paciente.documento_tipo_id = paciente.documento_tipo_id;
                        me.form.paciente.direccion         = paciente.direccion;
                        me.form.paciente.barrio            = paciente.barrio;
                        me.form.paciente.eps_id            = paciente.eps_id;
                        me.form.paciente.celular1          = paciente.celular1;
                        me.form.paciente.telefono          = paciente.telefono;
                        me.form.paciente.email             = paciente.email;
                        me.readonly.nombre_primero=true;
                        me.readonly.nombre_segundo=true;
                        me.readonly.apellido_primero=true;
                        me.readonly.apellido_segundo=true;
                        me.readonly.fecha_nacimiento=true;
                        me.readonly.documento_tipo_id=true;
                        me.readonly.eps_id=true;
                        me.preguntas=true;
                        me.btnSiguiente=false
                    }
                    else
                    {
                        me.form.paciente.paciente_id       = '';
                        me.form.paciente.nombre_primero    = '';
                        me.form.paciente.nombre_segundo    = '';
                        me.form.paciente.apellido_primero  = '';
                        me.form.paciente.apellido_segundo  = '';
                        me.form.paciente.fecha_nacimiento  = '';
                        me.form.paciente.documento_tipo_id = '';
                        me.form.paciente.direccion         = '';
                        me.form.paciente.barrio            = '';
                        me.form.paciente.eps_id            = '';
                        me.form.paciente.celular1          = '';
                        me.form.paciente.telefono          = '';
                        me.form.paciente.email             = '';
                        me.btnSiguiente                    = true;
                        me.readonly.eps_id                 = false;
                        me.readonly.nombre_primero         = false;
                        me.readonly.nombre_segundo         = false;
                        me.readonly.apellido_primero       = false;
                        me.readonly.apellido_segundo       = false;
                        me.readonly.fecha_nacimiento       = false;
                        me.readonly.documento_tipo_id      = false;
                    }
                    me.datosPaciente=true;
                    me.loadDir();
                })
                .catch((response)=>{
                    console.log(response.response);
                })
            }
        },
        changeDir()
        {
            alert('hola mundo')    
        },
        loadDir()
        {
            let me = this;
            function test()
            {
                alert(456)
            }
            setTimeout(()=>{
                
                $('#fecha_nacimiento').attr('readonly','readonly');
                $('#fecha_nacimiento').datepicker({
                    yearRange: "-150:+0",
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function(dateText, inst){
                        me.form.paciente.fecha_nacimiento=$(this).val();
                    }
                });
                $('#direccion,#persona_residencia_direccion_observacion')
                .change(()=>
                {
                    me.form.paciente.direccion = $('#direccion').val();
                    if(me.form.paciente.direccion.search("Vereda")!=-1)
                    {
                        me.validates.paciente.barrio=false;
                    }
                    else{
                        me.validates.paciente.barrio=true;
                    }
                    me.form.paciente.direccion_observacion = $('#persona_residencia_direccion_observacion').val();
                })
                $('#direccion')
                .add_generator({
                    direccion: 'direccion',
                    complemento:'persona_residencia_direccion_observacion'
                })
            }, 1000)
        }
    },
    mounted()
    {
        this.loadDocumentoTipo();
        this.loadDir();
        this.loadEps();
        this.loadMotivoConsulta()
        this.loadModalidadSeleccion();
        this.loadFiebreOpciones();
        this.loadTosOpciones();
        this.loadMedicamentos();

        $('form').validate();
    }
}
</script>

<style>
.r::before {
  content: "*";
  color:red
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #212121; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Si";
    padding-left: 10px;
    background-color: #536DFE; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #D32F2F; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #212121; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
