<template>
<div>
    <router-link :to="{name:'encuestaNew'}" class="btn btn-success">+ Nueva Encuesta</router-link>
    <download-csv :class="'btn btn-success'" :data = "json_data" delimiter=";" v-if="dataArray.length>0">
       Descargar
    </download-csv>
    <br>
    <br>
    <table border="1" class="table table-hover table-responsive">
        <thead>
            <th>#</th>
            <th style="min-width: 100px;">FECHA</th>
            <th style="min-width: 120px;">HORA</th>
            <th>TEMPERATURA</th>
            <th style="min-width: 400px;">NOMBRES COMPLETOS</th>
            <th>DOCUMENTO</th>
            <th style="min-width: 100px;">EDAD</th>
            <th style="min-width: 100px;">EPS</th>
            <th style="min-width: 200px;">DIRRECION Y BARRIO</th>
            <th>TELEFONO</th>
            <th style="min-width: 300px;">MOTIVO DE CONSULTA</th>
            <th style="min-width: 150px;">MODALIDAD DE LA ATENCIÓN</th>
            <th style="min-width: 200px;">QUIEN RECIBIO</th>
            <th style="min-width: 150px;">OBSERVACION</th>
            <th>Ha tenidocontacto con algun sintomatico de coronavirus?</th>
            <th>Estuvo en contacto con una persona diagnosticada con covid 19?</th>
            <th style="min-width: 200px;">tos?</th>
            <th style="min-width: 200px;">Fiebre?</th>
            <th>Fatiga O MALESTAR GENERAL?</th>
            <th>Dolor de garganta?</th>
            <th>Dificultad para respirar? </th>
            <th>Ha tomado medicamentos para la gripe? Cual:</th>
        </thead>
        <tr v-for="(item,idx) in dataArray" :key="idx" :class="SiGeneraAlarma(item)?'tr-warning':'tr-normal'">
            <td>{{idx+1}}</td>
            <td>{{item.created_at|onlyDate}}</td>
            <td>{{item.created_at|onlyHour}}</td>
            <td>{{item.temperatura}}</td>
            <td>
                {{item.tbl_paciente.nombre_primero}}
                {{item.tbl_paciente.nombre_segundo}}
                {{item.tbl_paciente.apellido_primero}}
                {{item.tbl_paciente.apellido_segundo}}

            </td>
            <td>{{item.tbl_paciente.documento}}</td>
            <td>{{item.tbl_paciente.fecha_nacimiento|calcularEdad}}</td>
            <td>{{item.tbl_paciente.tbl_eps.nombre}}</td>
            <td>
                {{item.tbl_paciente.direccion}}
                {{item.tbl_paciente.direccion_observacion}}
                -
                {{item.tbl_paciente.barrio}}

            </td>
            <td>
                {{item.tbl_paciente.celular1}}
                {{item.tbl_paciente.celular1==null?'':(item.tbl_paciente.telefono==null?'':'-')}}
                {{item.tbl_paciente.telefono}}

            </td>
            <td>{{item.tbl_motivo_consulta.nombre}}</td>
            <td>{{item.tbl_modalidad_atencion.nombre}}</td>
            <td>
                {{item.user.nombre_primero}}
                {{item.user.nombre_segundo}}
                {{item.user.apellido_primero}}
                {{item.user.apellido_primero}}
            </td>
            <td>{{item.observacion}}</td>
            <td>{{item.si_tuvo_contacto_paciente_covid|bolean}}</td>
            <td>{{item.si_tuvo_contacto_diagnosticado_covid|bolean}}</td>
            <td>
                <template v-if="item.tbl_tos_opcione!=null">
                    <br>{{item.tbl_tos_opcione.nombre}}
                </template>
            </td>
            <td>
                <template v-if="item.tbl_fiebre_opcione!=null">
                    <br>{{item.tbl_fiebre_opcione.nombre}}
                </template>
            </td>
            <td>{{item.malestar_general|bolean}}</td>
            <td>{{item.dolor_garganta|bolean}}</td>
            <td>{{item.dificultad_respirar|bolean}}</td>
            <td>{{item.tomado_medicamentos_gripa|bolean}}
                <template v-if="item.tbl_medicamentos.length>0">
                    <span v-for="(item,idx) in item.tbl_medicamentos" :key="idx">*{{item.nombre}}<br></span>
                </template>
            </td>
        </tr>
    </table>
    </div> 
</template>

<script>
import downloadCsv from 'vue-json-csv'
import fn from '../functions/functions'
export default {
    components:{downloadCsv},    
    filters:{
        onlyDate(fecha)
        {
            return fn.onlyDate(fecha)
        },
        onlyHour(fecha)
        {
            return fn.onlyHour(fecha)
        },
        calcularEdad(fechaNacimiento)
        {
            return fn.calcular_edad(fechaNacimiento);
        },
        bolean(value)
        {
            return value=="1"?'SI':'NO';
        }
    },
    data()
    {
        return {
            dataArray:[],
            json_data:[],
        }
    },
    methods:{
        exportar(data)
        {
            let me = this;
            var temp =[];
            temp.push('#');
            temp.push('FECHA');
            temp.push('HORA');
            temp.push('TEMPERATURA');
            temp.push('NOMBRES COMPLETOS');
            temp.push('DOCUMENTO');
            temp.push('EDAD');
            temp.push('EPS');
            temp.push('DIRRECION Y BARRIO');
            temp.push('TELEFONO');
            temp.push('MOTIVO DE CONSULTA');
            temp.push('MODALIDAD DE LA ATENCIÓN');
            temp.push('QUIEN RECIBIO');
            temp.push('OBSERVACION');
            temp.push('Ha tenidocontacto con algun sintomatico de coronavirus?');
            temp.push('Estuvo en contacto con una persona diagnosticada con covid 19?');
            temp.push('tos?');
            temp.push('Fiebre?');
            temp.push('Fatiga O MALESTAR GENERAL?');
            temp.push('Dolor de garganta?');
            temp.push('Dificultad para respirar? ');
            temp.push('Ha tomado medicamentos para la gripe? Cual:');
            me.json_data.push(temp);
            data.forEach((item,idx)=>{
                var stringtemp='';
                if(item.tbl_medicamentos.length>0)
                {
                    item.tbl_medicamentos.forEach((item1,idx1)=>{
                        stringtemp=stringtemp+"\n*"+item1.nombre;
                    })
                }
                var temp =[];
                temp.push(idx+1);
                temp.push(fn.onlyHour(item.created_at) );
                temp.push(fn.onlyHour(item.created_at));
                temp.push(item.temperatura);
                temp.push(
                    item.tbl_paciente.nombre_primero +' '+
                    (item.tbl_paciente.nombre_segundo===null?'':item.tbl_paciente.nombre_segundo) +' '+
                    item.tbl_paciente.apellido_primero +' '+
                    (item.tbl_paciente.apellido_segundo===null?'':item.tbl_paciente.apellido_segundo) 
                );
                temp.push(item.tbl_paciente.documento);
                temp.push(fn.calcular_edad(item.tbl_paciente.fecha_nacimiento));
                temp.push(item.tbl_paciente.tbl_eps.nombre);
                temp.push( item.tbl_paciente.direccion+' '+(item.tbl_paciente.direccion_observacion==null?'':item.tbl_paciente.direccion_observacion)+' - '+item.tbl_paciente.barrio);
                temp.push((item.tbl_paciente.celular1==null?'':item.tbl_paciente.celular1)+' '+(item.tbl_paciente.celular1==null?'':(item.tbl_paciente.telefono==null?'':'-'))+(item.tbl_paciente.telefono==null?'':item.tbl_paciente.telefono));
                temp.push(item.tbl_motivo_consulta.nombre);
                temp.push(item.tbl_modalidad_atencion.nombre);
                temp.push(item.user.nombre_primero+' '+item.user.nombre_segundo+' '+item.user.apellido_primero+' '+item.user.apellido_primero);
                temp.push(item.observacion);
                temp.push(item.si_tuvo_contacto_paciente_covid=="1"?'SI':'NO');
                temp.push(item.si_tuvo_contacto_diagnosticado_covid=="1"?'SI':'NO');
                temp.push(item.tbl_tos_opcione==null?'':item.tbl_tos_opcione.nombre);
                temp.push(item.tbl_fiebre_opcione==null?'':item.tbl_fiebre_opcione.nombre);
                temp.push((item.malestar_general=="1"?'SI':'NO'));
                temp.push((item.dolor_garganta=="1"?'SI':'NO'));
                temp.push((item.dificultad_respirar=="1"?'SI':'NO'));
                temp.push((item.tomado_medicamentos_gripa=="1"?'SI'+' '+stringtemp:'NO'));
                me.json_data.push(temp);
            })
        },
        SiGeneraAlarma(item)
        {
            let edad = fn.calcular_edad(item.tbl_paciente.fecha_nacimiento)
            if(edad>=70)
            {
                return true;
            }
            else if(item.temperatura>38.5)
            {
                return true
            }
            return false;
        },
        loadData()
        {
            let me = this;
            axios
            .get(base+'/encuestas')
            .then((response)=>{
                me.dataArray=response.data.data;
                me.exportar(response.data.data)
            })
        }
    },
    mounted()
    {
        this.loadData();
    }
}
</script>

<style>
table th{
    text-align: center;
    text-transform: uppercase;
    background-color: darkgray;
}
.tr-warning{
    color: #212529;
    background-color: #f6c23eb0;
}
.tr-normal{
    color: #000;
    background-color: #FFF;
}
.tr-normal:hover{
    background-color: #dddfeb;
}
.tr-warning:hover{
    background-color: #ffc107;
}
</style>